<h2>Font size editor</h2>

<div>
  <label>Enter font size (px):</label>
  <input type="range" min="9" max="70" [value]="fontSize" (change)="onChange($any($event.target).value)">
</div>

<p class="output" [style.fontSize.px]="fontSize" style="color: rgb(168, 39, 168);">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cumque nostrum quibusdam. Inventore quibusdam debitis, tempore error voluptatem explicabo ipsum?
</p>

<h2>Example 2</h2>
<input type="text" name="value" [(ngModel)]="value" style="color: green;">
<p> You entered </p>
<button (click)="clearValue()">Clear</button>
